<div class="screen" id="login">
    <input type="text" id="username">
    <hr>
    <button id="btn">Submit</button>
</div>

<div class="screen" id="game">
    <div id="game-choices">
        <div class="game-choice" id="rock">
            <h1>Rock</h1>
        </div>
        <div class="game-choice" id="paper">
            <h1>Paper</h1>
        </div>
        <div class="game-choice" id="scissors">
            <h1>Scissors</h1>
        </div>
    </div>
    <div id="feed">
        <div id="player-list"></div>
        <div id="feed-losers">
            <h4>Loooooosers</h4>
        </div>
        <div id="feed-winners">
            <h4>Winners</h4>
        </div>
    </div>
</div>